<div class="container">
  <form [formGroup]="addItemForm" (ngSubmit)="add()">
    <div>
      Last: {{lastItem?.money}}$ {{lastItem?.points}}MPP ({{lastItem?.dateTime | date:'dd.MM.yy'}})
    </div>
    <div class="form-group">
      <input id="date" class="form-control" placeholder="yyyy-mm-dd" class="form-control" formControlName="date"
             name="date" [(ngModel)]="bankrollItem.dateTime" ngbDatepicker #d="ngbDatepicker">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <img src="../../../assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
    </div>
    <div class="form-group">
      <label for="money">$</label>
      <input id="money" formControlName="money" class="form-control" [(ngModel)]="bankrollItem.money"
             (change)="calcMoneyDifference()"/>
      {{moneyDifference}}
    </div>
    <div class="form-group">
      <label for="points">MPP</label>
      <input id="points" formControlName="points" class="form-control" [(ngModel)]="bankrollItem.points"
             (change)="calcPointsDifference()"/>
      {{pointsDifference}}
    </div>
    <div class="form-group">
      <select id="type" formControlName="itemType" class="form-control" [(ngModel)]="bankrollItem.type">
        <option *ngFor="let t of itemTypes" [value]="t" [label]="getTypeDescription(t)"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Комментарий</label>
      <input id="comment" formControlName="comment" class="form-control" [(ngModel)]="bankrollItem.comment"/>
    </div>
    <div class="form-group">
      <input type="submit" [disabled]="addItemForm.invalid" value="Add">
    </div>
  </form>
</div>
